html{
  scroll-behavior: smooth;
}

body{
background-color: #ddd;
font-size: 18px;
margin: 0;
padding: 0;
}

h1{
font-size: 50px;
line-height: 1;
padding: 50px 0;
text-align: center;
}

h2{
font-size: 32px;
line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding-right: 20px;
  display: inline;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip :focus{
  top: 0;
}

:focus{
  border: 2px solid black;
}


footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;  /*element begins in column 1 and spans the full page*/
  grid-row: 7 / span 1;   
  padding-top: 30px;
  text-align: center;
}


.container{
  display: grid;
  grid-template-columns: 100px 500px 100px;
  row-gap: 15px;

  /*Provided*/
  grid-template-rows: 30px auto auto auto auto auto 100px; 
  width: 100vw; 
}

.nav{
  justify-self: left;
  align-self: center;
  grid-area: 1/1/span 1/-1;
  /*Provided*/
  background-color: #ddd;
  padding: 20px 0; 
  text-align: left; 
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/header.jpg");      /*Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  grid-area: 2/1/span 1/-1;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
  grid-area: 3/1/span 1/-1;
  max-height: 700px;
  overflow: hidden;
}

.about{
  display: grid;
  grid-area: 3/2/span 1/span 1;
}

.method-image{
  grid-area: 4/1/span 1/-1;
  max-height: 700px;
  overflow: hidden;
}

.method{
    display: grid;
    grid-area: 4/2/span 1/span 1;
}

.clients-image{
  grid-area: 5/1/span 1/-1;
  max-height: 700px;
  overflow: hidden;
}

.clients{
  display: grid;
  grid-area: 5/2/span 1/span1;
}

.contact-image{
  grid-area: 6/1/span 1/-1;
  max-height: 700px;
  overflow: hidden;
}

.contact{
  display: grid;
  grid-area: 6/2/span 1/span1;
}

.text-block{
  place-self: center;
  grid-column: 2;
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}



@media screen and (min-width: 800px){

  .container{
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
  }

  .nav{
  justify-self: right;
  align-self: center;
  grid-area: 1/1/span 1/-1;

  padding: 35px 0; 
  text-align: rigth;
  }

  .about-image{
    grid-area: 3/2/span 1/span 2;
    }

  .about{
    grid-area: 3/3/span 1/span 2;
  }

  .method-image{
    grid-area: 4/3/span 1/span 2;
  }

  .method{
    grid-area: 4/2/span 1/span 2;
  }

  .clients-image{
    grid-area: 5/2/span 1/span 2;
  }

  .clients{
    grid-area: 5/3/span 1/span 2;
  }

  .contact-image{
    grid-area: 6/3/span 1/span 2;
  }

  .contact{
    grid-area: 6/2/span 1/span 2;
   }

}  /*End the media query*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top: 0;
  }
}
